/* HTML TAGS */

body {
  font-family: "Montserrat";
  text-align: center;
}

btn {
  padding: 10% 30%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  text-align: left;
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat-bold";
    font-size: 1.5rem;
}

li{
  color:grey;
}

p {
  padding: 3%;
  color: #8f8f8f;
  font-family: "Montserrat";
  font-weight: normal;
}

/* selectors */

.container-fluid {
  padding: 10%;

}

.dwn-btn {                 /* download button */
  margin: 5% 3% 5% 0;
}

.imp1 {
  width: 15%;
  margine: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}
.f1 {
  padding: 5%;
  }

/* Icons of 2nd page */
.fa-solid {
  font-size: 3rem;
  color: #ef8172;
  margin-bottom: 1rem;
}

.fa-solid:hover {
  color: #ff4c68;
}

/* title image */

.Ti-im {
  width: 20%;
  transform: rotate(30deg);
  margin: 0 40px;
  position: absolute;
  right: 300px;
}

.pc{
  padding: 2%;
}

.pp{
  padding:2%;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat-light";
  font-size: 1.2rem;
}

.navbar-nav {
  position: absolute;
  right: 30px;
}

.tst-nme {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.cta_hd{

  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5rem;

}

.fs{
  margin: 20px 10px;
}

/* ID'S */

#features {                /* Features */
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

#title {
  background-color: #ff4c68;
  font-family: 'Moon Dance', cursive;
  font-family: 'Oswald', sans-serif;
  font-family: 'Ubuntu Mono', monospace;
  color: white;
}

/* Testimonial Section */

#testimonials{

  background-color: #ef8172;
  color: #fff;
}

/* Press Section */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

/* pricing */

#pricing{
  padding:100px;
}

/* CTA Section */

#cta{

  background-color: #ff4c68;
  color: white;
  padding: 7% 15%;
}


/* footer Section */

#footer{
padding: 7% 15%;
}

/* Media Querry's */

@media (max-width:1040){

#title{
  text-align: center;
}

  .Ti-im{
    position: static;
    transform: rotate(0);
  }
}
